<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='regstyle.css') }}">
    
    <title>LR page</title>
</head>

    <body>
        <section>
            <form action="/register" method="post">
               <h1>REGISTER</h1>
                
                    <div class="inputbox">
                     <input type="text" name="username" id="username" placeholder="Username" required>
                       
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="inputbox">
                        <input type="email" name="email" id="email" placeholder="Email" required>
                        
                        <i class='bx bxs-envelope' ></i>
                    </div>
                    <div class="inputbox">
                        <input type="password" name="password" id="password" placeholder="Password" required>
                        
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                    <button type="submit">Register</button>
                    <p style= color:black >Already have an account? <a id="login" href="/login">Login</a></style></p>
                </div>
            </form>
        </section>
        
    </body>

</html>
